*{
    font-family: 'Poppins', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    
}
body{
    background: #2d3436;
}
.navigation

{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
overflow: hidden;

}
.navigation ul
{   

    position: relative;
}

.navigation ul li
{
text-align: center;
list-style: none;
}

.navigation ul a
{
    cursor: grab;
    color: white;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;

}

.navigation ul:hover li a
{
color: #E8E9EB;
}

.navigation ul li:hover a
{
color: #333333;
border-radius: 30%;
background: #fff;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;

}

.navigation ul a:before
{
content: '';
position: absolute;

top: -40%;
left: 450%;
transform: translate(-50%, -50%)
display: flex;
justify-content: top;
align-items: left;
font-size: 5em;

color: rgba(0, 0,0, .1);
border-radius: 10%;
z-index: -1;
opacity: 0;
font-weight: 10;
text-transform: uppercase;
letter-spacing: 500px;
transition: letter-spacing 0.5s, left 0.5s;

}
.navigation ul a:hover:before
{
content: attr(data-text);
opacity: 1;
margin-top: 40%;
left: -210%;
letter-spacing: 10px;
padding-top: 200px;
padding-bottom: 5000px;
width : 1800px;
height: 1800px;
align-self: center;


}

.navigation ul li:nth-child(6n+1) a:before
{   
    background: #FFD700;

}


.navigation ul li:nth-child(2) a:before
{  
    background: #0092CC;
    
}
.navigation ul li:nth-child(3) a:before
{
    background: #FF3333;
    
}
.navigation ul li:nth-child(4) a:before
{
    background: #D2B48C;
    
}
.navigation ul li:nth-child(5) a:before
{
   background-color: #23967F;
    
}.navigation ul li:nth-child(6) a:before
{   
    background: #7C9082;
    
}
h1{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 10px;
font-family: 'Bangers', cursive;
    color: wheat;
    margin-top: 40px;
    margin-left: 80px;
    font-size: 70px;
}